---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-project-service
  labels:
    app: ai-project-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-project-service
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: ai-project-service
      annotations:
        prometheus.io/scrape: "true"
    spec:
      containers:
          name: ai-project-service
          image: ai-project-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
